extends ../layouts/main-Layout

block content 
    br
    if message
        div.user-message.user-message--error  #{ message }
    form.login-form.centered(action="/password-reset/:resetToken", method="post") 
        
        .form-control
            label Password 
            input(type="password", name="password")
            input(type="hidden", name="_csrf" , value = csrfToken )
            input(type="hidden", name="resetToken" , value =resetToken )
            input(type="hidden", name="userId" , value =userId )
        .form-control
            label Password Confirm
            input(type="password", name="passwordConfirm")
        .form-control
            button.btn(type="submit") Login
    