extends ../layouts/main-Layout

block content 
    br
    
    form.login-form.centered(action="/password-reset/:resetToken", method="post") 
        
        .form-control
            label Password 
            input(type="password", name="password")
            input(type="hidden", name="_csrf" , value = csrfToken )
        .form-control
            label Password Confirm
            input(type="password", name="password")
        .form-control
            button.btn(type="submit") Login
    