extends ../layouts/main-Layout

block content 
    br
    br
    br
    br
    br
    br
    form.login-form.centered(action="/request-reset-password", method="post") 
        .form-control
            label Email
            input(type="email", name="email") 
            input(type="hidden", name="_csrf" , value = csrfToken )
        .form-control
            button.btn(type="submit") Reset Password