extends ../layouts/main-Layout

block content 
    main
      br
      form.login-form.centered(action="/signup", method="POST")
        .form-control
          label(for="email") E-Mail
          input#email(type="email", name="email")
        .form-control
          label(for="password") Password
          input#password(type="password", name="password")
        .form-control
          label(for="confirmPassword") Confirm Password
          input#confirmPassword(type="password", name="confirmPassword")
          input(type="hidden", name="_csrf" , value = csrfToken )
        .form-control
          button.btn(type="submit") Signup
