extends ../layouts/main-Layout

block content 
    main
      br
      if message
        div(class = `user-message user-message--${messageType === "error"? "error":"success"}`)  #{ message }

      form.login-form.centered(action="/signup", method="POST" id="signupForm")
        .form-control
          label(for="email") E-Mail
          input#email(type="email", name="email" required) 
        .form-control
          label(for="password") Password
          input#password(name="password", type="password", onkeyup="check();" required)
          span#passwordMessage(style="color:red") 
        .form-control
          label(for="confirmPassword") Confirm Password
          input(type="password", name="confirm_password", id="confirm_password", onkeyup="check();" required)
          span#message
          input(type="hidden", name="_csrf" , value = csrfToken )
        .form-control
          button.btn(type="submit" ) Signup
      script(src="/js/signup.js")


     
