<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/forms.css")
        link(rel="stylesheet", href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css")
        script(src="https://code.jquery.com/jquery-3.6.0.js")
        script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")
        script(src="/js/vendor/datepicker.js")
        
        block styles
    body   
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=(path === '/' ? 'active' : '')) Add Transactions
                    if isAuthenticated
                        li.main-header__item
                            a(href="/transactions", class=(path === '/transactions' ? 'active' : '')) Transactions
                    if !isAuthenticated
                        li.main-header__item
                            a(href="/login", class=(path === '/transactions' ? 'active' : '')) Login
                    if !isAuthenticated
                        li.main-header__item
                            a(href="/signup", class=(path === '/transactions' ? 'active' : '')) Signup
                    if isAuthenticated
                        li.main-header__item
                            form(action="/logout", method="post") 
                                input(type="hidden", name="_csrf" , value = csrfToken )
                                button(type="submit") logout
                        
        block content
        