extends layouts/main-Layout

block content 
  
  
  
  h1 app
  input.receipt(type="button", value="Receipt")
  input.invoice(type="button", value="Invoice")
  // Form
  form(action="/", method="POST")
    input(type="hidden", name="serviceType", value="Receipt" id="service_type_hidden" )
  
   
    .form-control
    // logo
    .logo
      label Your Brand Logo
      input(type="file", name="logo")
    // receipt and invoice
    div(class="receipt_page")
      h3.receipt_visibility Receipt
      h3.invoice_visibility Invoice
      // Brand name
      div(class="brand_name" )
        label Your Brand Name
        input(type="text", name="brandName" id="brand_name")
      // Date Issued
      .date
        label Date Issued
        input(type="text", name="dateIssued" class="datepicker")
      // Payment Due Date
      .date.invoice_visibility
        label Due Date
        input(type="text", name="dueDate" class="datepicker")
      // Receipt number
      div
        label Document Number
        input(type="text", name="documentNumber" id="documentNumber")
        label Check to Auto-Generate
        input(type="checkbox", name="autoGenerate" id="autoGenerate")
      // Recipient name
      div.receipt_visibility
        label Customer's Details
        textarea(name="recipientName", cols="20", rows="3" placeholder="Name\nAddress\nContact")

      div.invoice_visibility
        label Bill To
        textarea(name="billTo", cols="20", rows="2")
      br
      //- payment method for receipt
      .receipt_visibility
        label Payment Method
        select(name="paymentMethod" id="paymentMethodSelect")
          option Bank Transfer
          option Mobile Deposit
          option other
        label If Other
        input(type="text" name="paymentIfOther" id="paymentIfOther" disabled)
      br
      //- payment details for invoice 
      div.invoice_visibility
        h3 Payment Details 
        label Account 
        input(type="text" , name="invoicePaymentDetails") 
        label A/c Name 
        input(type="text", name="invoicePaymentDetails")
        label Bank Details 
        input(type="text", name="invoicePaymentDetails" , placeholder="Add your Bank Name")
      // items
      div(class="items")
        div
          label Description
          textarea(name="description", cols="20", rows="2" )
          label Unit/Quantity
          input(name="unit")
          label Price
          input(type="text", name="price")
          br
      br
      input(type="button", value="add item", id="addItems")
      br
      div(class="supplementary_items")
        div
          label Shipping 
          input(name="Shipping")
          label VAT 
          input(name="vat")
          label Discount
          input(type="text", name="discount")
      .totals
        div
          label Sub Total
          input(type="text", name="sub_total")
        div 
          label Total
          input(type="text", name="total")
        div 
          label Currency
          input(type="text",name="currency") 

    br
    div
      input(type="button", name="invoice_add_signature", value="Add Signature")
      input(type="button", value="Preview")
      button(type="submit") Submit
  script(src="/js/script.js")
  
   



  

