extends layouts/main-Layout

block content 
  
  
  
  h1 app
  input.receipt(type="button", value="Receipt")
  input.invoice(type="button", value="Invoice")
  // Form
  form(action="/", method="POST")
  input(type="hidden", name="serviceType", value="" id="service_type_hidden" )
  
   
  .form-control
    // logo
    .logo
      label Your Brand Logo
      input(type="file", name="logo")
    // receipt and invoice
    div(class="receipt_page")
      h3.receipt_visibility Receipt
      h3.invoice_visibility Invoice
      // Brand name
      div(class="brand_name")
        label Your Brand Name
        input(type="text", name="brand_name")
      // Date Issued
      .date
        label Date Issued
        input(type="text", name="receipt_date_issued")
      // Payment Due Date
      .date.invoice_visibility
        label Due Date
        input(type="text", name="due_date")
      // Receipt number
      div
        label Document Number
        input(type="text", name="receipt_number")
      // Recipient name
      div.receipt_visibility
        label Recipient Name
        input(type="text", name="Recipient_name")

      div.invoice_visibility
        label Bill To
        textarea(name="bill_to", cols="20", rows="2")
      br
      //- payment method for receipt
      .receipt_visibility
        label Payment Method
        select(name="receipt_payment_method")
          option Bank Transfer
          option Mobile Deposit
          option other
        label If Other
        input(type="text")
      br
      //- payment details for invoice 
      div.invoice_visibility
        h3 Payment Details 
        label Account 
        input(type="text" , name="account_details") 
        label A/c Name 
        input(type="text", name="account_name")
        label Bank Details 
        input(type="text", name="bank_name" , placeholder="Add your Bank Name")
      // items
      div(class="items")
        div
          label Description
          textarea(name="description", cols="20", rows="2")
          label Unit/Quantity
          input(name="Unit")
          label Price
          input(type="text", name="price")
          br
      br
      input(type="button", value="add item", id="addItems")
      br
      div(class="supplementary_items")
        div
          label Shipping 
          input(name="Shipping")
          label VAT 
          input(name="vat")
          label Discount
          input(type="text", name="discount")
      .totals
        div
          label Sub Total
          input(type="text", name="sub_total")
        div
          label Total
          input(type="text", name="total")

    br
    div
      input(type="button", name="invoice_add_signature", value="Add Signature")
      input(type="submit", value="Preview")
      button(type="submit") Submit
  script(src="/js/script.js")
   



  

